.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .gallery-container {
    padding: 1rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  
  .gallery-container img {
    max-width: 100%;
    object-fit: cover;
    object-position: top;
  }
  
  .gallery ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
  
  .character {
    border: 4px solid cadetblue;
  }
  
  .droid {
    border: 4px solid yellow;
  }
  
  .creature {
    border: 4px solid crimson;
  }


  figure{
    background-color: rgba(254, 254, 254, 0.849);
    border-radius: 5px;
    color: black;
    padding: 2rem;    
    border: 1px solid white;

  }