ul{
    list-style-type: none;
    padding-top: 2rem;
    font-size: 1.2rem;
}

li{
    background-color: rgba(254, 254, 254, 0.849);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

a > img {
    width:20px;
    
}